.team__card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.hidden {
  display: none;
}

.container {
  width: 1170px;
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 93px;
}
.header__menu {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.header__logo {
  font-weight: 700;
  font-size: 26px;
  color: #212121;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.header__logo-accent {
  color: #2196f3;
  animation: drop-in 2s;
}
@keyframes drop-in {
  from {
    transform: rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
}
.header__menu-link {
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  position: relative;
  display: block;
}
.header__menu-link:hover {
  color: #2196f3;
  transition: 0.3s;
}
.header__menu-link::after {
  content: "";
  width: 100%;
  height: 4px;
  display: inline-block;
  background-color: #2196f3;
  position: absolute;
  left: 0px;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  top: 40px;
}
.header__menu-link:hover::after {
  transform: scaleX(1);
  background-color: #2196f3;
}
.header__contacts {
  display: flex;
  gap: 50px;
  margin-left: 250px;
}
.header__contacts-link {
  font-weight: 500;
  color: #757575;
  text-decoration: none;
}
.header__contacts-link:hover {
  color: #2196f3;
  transition: 0.3s;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/index/background.png");
  text-align: center;
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-transform: uppercase;
  color: white;
  width: 696px;
  margin: auto;
  animation: drop-in 1s;
}
@keyframes drop-in {
  from {
    transform: rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
}
.hero__button {
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  margin-top: 30px;
  cursor: pointer;
  animation: slide-in 1s;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 15px;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.modal__close {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: 1px solid whitesmoke;
  background-color: transparent;
  margin-left: auto;
  display: block;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-top: 40px;
  padding-bottom: 12px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
  padding-top: 12px;
  padding-left: 40px;
}
.modal__input {
  width: 448px;
  height: 48px;
  border: 1px solid #757575;
  margin: auto;
  border-radius: 4px;
}
.modal__textarea {
  border: 1px solid #757575;
  border-radius: 4px;
  width: 448px;
  height: 120px;
  margin: auto;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-left: 16px;
}
.modal__checkbox-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 20px;
}
.modal__checkbox {
  border: 1px solid #212121;
}
.modal__terms {
  color: var(--button);
  cursor: pointer;
  text-decoration: underline;
}
.modal__submit {
  background-color: #2196f3;
  color: white;
  font-weight: 700;
  font-size: 16px;
  width: 200px;
  height: 50px;
  border: none;
  margin: auto;
  margin-top: 30px;
}

.pros {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pros__list {
  display: flex;
  gap: 30px;
}
.pros__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: #212121;
}
.pros__subtitle--satellite::before {
  content: url("../images/index/satellite.png");
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
}
.pros__subtitle--timer::before {
  content: url("../images/index/timer.jpg");
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
}
.pros__subtitle--analytic::before {
  content: url("../images/index/analytic.png");
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
}
.pros__subtitle--astronaut::before {
  content: url("../images/index/austranaut.png");
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
}
.pros__description {
  line-height: 171%;
  color: #757575;
  padding-top: 10px;
}

.doing {
  padding-bottom: 94px;
}
.doing__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.doing__list {
  display: flex;
  gap: 30px;
  padding-top: 50px;
}
.doing__item {
  position: relative;
}
.doing .doing__overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.doing__text {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.team__photo {
  width: 270px;
  height: 260px;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #212121;
  padding-top: 30px;
}
.team__role {
  font-size: 16px;
  text-align: center;
  color: #757575;
  padding-top: 10px;
}
.team__card {
  height: 428px;
}
.team__social-list {
  display: flex;
  padding-top: 16px;
  justify-content: space-around;
}
.team__social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.team__social-item:hover {
  background-color: #2196f3;
  transform: scaleX(1);
}
.team__social-icon {
  width: 24px;
  height: 24px;
  fill: #afb1b8;
  transition: fill 0.6s ease;
}
.team__social-icon:hover {
  fill: white;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients__item {
  list-style: none;
}
.clients__icon {
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border-radius: 4px;
  transition: fill 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), border 0.6s ease, transform 2s ease;
}
.clients__icon:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
  transform: scale(1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer__logo {
  font-weight: 700;
  font-size: 26px;
  color: white;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.footer__logo-accent {
  color: #2196f3;
}
@keyframes drop-in {
  from {
    transform: rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
}
.footer__address {
  margin-top: 20px;
  animation: drop-in 2s;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer__item {
  line-height: 171%;
  color: white;
}
.footer__link {
  line-height: 171%;
  color: #757575;
  text-decoration: none;
}
.footer__link:hover {
  color: #2196f3;
}