html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.hidden {
  display: none;
}

.container {
  max-width: 1170px;
  min-width: 450px;
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header__container {
  gap: 93px;
  display: flex;
  align-items: center;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header__menu {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
@keyframes drop-in {
  from {
    transform: rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
}
.header__menu-link {
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  position: relative;
  display: block;
  letter-spacing: 0.02em;
}
.header__menu-link:hover {
  color: #2196f3;
  transition: 0.3s;
}
.header__menu-link::after {
  content: "";
  width: 100%;
  height: 4px;
  display: inline-block;
  background-color: #2196f3;
  position: absolute;
  left: 0px;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  top: 40px;
}
.header__menu-link:hover::after {
  transform: scaleX(1);
  background-color: #2196f3;
}
.header__input {
  display: none;
}
@media (max-width: 450px) {
  .header__label {
    display: block;
    height: 30px;
    width: 30px;
    margin-left: auto;
    position: relative;
  }
  .header__label .header__btn {
    top: 10px;
  }
  .header__label .header__btn::before {
    top: -8px;
  }
  .header__label .header__btn::after {
    top: 8px;
  }
  .header__label .header__btn, .header__label .header__btn::before, .header__label .header__btn::after {
    position: absolute;
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    z-index: 1;
  }
  .header__menu {
    display: none;
  }
  .header__input[type=checkbox]:checked ~ .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__input[type=checkbox]:checked ~ .header__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header .nav-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(101, 143, 143);
  }
  .header input[type=checkbox]:checked ~ label span {
    transform: rotate(-45deg);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .header input[type=checkbox]:checked ~ label span::before {
    top: 0;
    transform: rotate(0);
  }
  .header input[type=checkbox]:checked ~ label span::after {
    top: 0;
    transform: rotate(90deg);
  }
}
.header__contacts {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (max-width: 738px) {
  .header__contacts {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .header__contacts {
    display: none;
  }
  .header__contacts__input[type=checkbox]:checked ~ .header__contacts__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.header__contacts-link {
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
@media (max-width: 738px) {
  .header__contacts-link {
    font-size: 12px;
  }
}
.header__contacts-link:hover {
  color: #2196f3;
  transition: 0.3s;
}
.header__contacts-link:hover .header__contacts-icon {
  fill: #2196f3;
}
.header__contacts-icon {
  fill: #757575;
  margin-right: 10px;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  color: #212121;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
}
@media (max-width: 738px) {
  .logo {
    font-size: 24px;
  }
}
.logo--accent {
  color: #2196f3;
  animation: drop-in 2s;
}
.logo--color {
  color: white;
}

.title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-bottom: 50px;
}
@media (max-width: 738px) {
  .title {
    font-size: 28px;
  }
}

.button {
  color: white;
  border: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 700;
  background-color: #2196f3;
  line-height: 1.87;
  animation: slide-in 1s;
  font-size: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-block: 10px;
  letter-spacing: 0.06em;
}
.button--hero {
  padding-inline: 32px;
}
@media (max-width: 738px) {
  .button--hero {
    padding: 10px 24px;
  }
}
.button--modal {
  padding-inline: 52px;
  margin: auto;
}
.button--footer {
  padding-inline: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 738px) {
  .button--footer {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/background.png");
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/index/background-desctop@2x.png);
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.06em;
  text-align: center;
  animation: drop-in 1s;
  margin-bottom: 30px;
}
@media (max-width: 738px) {
  .hero__title {
    font-size: 26px;
  }
}
@keyframes drop-in {
  from {
    transform: rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
@media (max-width: 738px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}
.modal__close {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  display: flex;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
}
.modal__close:hover {
  fill: #2196f3;
}
.modal__close-icon {
  width: 11px;
  height: 11px;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-bottom: 12px;
}
@media (max-width: 738px) {
  .modal__title {
    line-height: 1.5;
  }
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
  padding-top: 12px;
  display: block;
}
.modal__input {
  width: 448px;
  height: 48px;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
}
.modal__input:hover + .modal__icon {
  fill: #2196f3;
}
.modal__input:hover {
  border: 1px solid #2196f3;
}
.modal__input:focus + .modal__icon {
  fill: #2196f3;
}
.modal__input:focus {
  border: 1px solid #2196f3;
}
.modal__wrapper {
  position: relative;
}
.modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  bottom: 14px;
}
.modal__textarea {
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  margin: auto;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
  font-family: "Roboto", sans-serif;
  outline: none;
}
.modal__textarea:focus {
  border: 1px solid #2196f3;
}
.modal__checkbox-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 20px;
  align-items: center;
  margin-bottom: 30px;
}
.modal__checkbox {
  border: 1px solid #212121;
  accent-color: #2196f3;
}
.modal__terms {
  color: #2196f3;
  cursor: pointer;
  text-decoration: underline;
}

.pros {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pros__list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 738px) {
  .pros__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .pros__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 738px) {
  .pros__item {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .pros__item {
    width: 100%;
  }
}
.pros__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: #212121;
}
@media (max-width: 450px) {
  .pros__subtitle {
    text-align: center;
  }
}
.pros__subtitle--satellite::before {
  content: "";
  background-image: url("../images/index/antenna.png");
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
@media (max-width: 738px) {
  .pros__subtitle--satellite::before {
    width: 354px;
    height: 120px;
  }
}
@media (max-width: 450px) {
  .pros__subtitle--satellite::before {
    width: 450px;
    height: 120px;
  }
}
.pros__subtitle--timer::before {
  content: "";
  background-image: url("../images/index/clock.png");
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
@media (max-width: 738px) {
  .pros__subtitle--timer::before {
    width: 354px;
    height: 120px;
  }
}
@media (max-width: 450px) {
  .pros__subtitle--timer::before {
    width: 450px;
    height: 120px;
  }
}
.pros__subtitle--analytic::before {
  content: "";
  background-image: url("../images/index/analytic.png");
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
@media (max-width: 738px) {
  .pros__subtitle--analytic::before {
    width: 354px;
    height: 120px;
  }
}
@media (max-width: 450px) {
  .pros__subtitle--analytic::before {
    width: 450px;
    height: 120px;
  }
}
.pros__subtitle--astronaut::before {
  content: "";
  background-image: url("../images/index/austranaut.png");
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
@media (max-width: 738px) {
  .pros__subtitle--astronaut::before {
    width: 354px;
    height: 120px;
  }
}
@media (max-width: 450px) {
  .pros__subtitle--astronaut::before {
    width: 450px;
    height: 120px;
  }
}
.pros__description {
  line-height: 171%;
  color: #757575;
  padding-top: 10px;
}
@media (max-width: 738px) {
  .pros__description {
    width: 354px;
  }
}
@media (max-width: 450px) {
  .pros__description {
    width: auto;
  }
}

.doing {
  padding-bottom: 94px;
}
@media (max-width: 738px) {
  .doing {
    display: none;
  }
}
.doing__image {
  display: block;
}
.doing__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.doing__item {
  position: relative;
}
.doing .doing__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}
.doing__text {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team {
  padding-bottom: 94px;
  background-color: #f5f4fa;
  padding-top: 94px;
}
.team__item {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
@media (max-width: 738px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .team__item {
    width: 100%;
  }
}
.team__photo {
  width: 270px;
  height: 260px;
}
@media (max-width: 738px) {
  .team__photo {
    width: 354px;
    height: 374px;
  }
}
@media (max-width: 450px) {
  .team__photo {
    width: 450px;
    height: 460px;
  }
}
.team__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
@media (max-width: 738px) {
  .team__list {
    flex-wrap: wrap;
  }
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #212121;
  padding-top: 30px;
}
.team__role {
  font-size: 16px;
  text-align: center;
  color: #757575;
  padding-top: 10px;
}
.team__social-list {
  display: flex;
  padding-top: 16px;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}
.team__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.team__social-link:hover {
  background-color: #2196f3;
  transform: scaleX(1);
}
.team__social-link:hover .team__social-icon {
  fill: white;
}
.team__social-icon {
  width: 24px;
  height: 24px;
  fill: #afb1b8;
  transition: fill 0.6s ease;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 738px) {
  .clients__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 450px) {
  .clients__list {
    flex-wrap: wrap;
  }
}
.clients__item {
  list-style: none;
}
@media (max-width: 738px) {
  .clients__item {
    width: calc(33.333% - 20px);
    display: flex;
  }
}
@media (max-width: 450px) {
  .clients__item {
    width: calc(50% - 15px);
  }
}
.clients__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
}
@media (max-width: 738px) {
  .clients__icon {
    width: 226px;
  }
}
@media (max-width: 450px) {
  .clients__icon {
    width: 210px;
  }
}
.clients__link {
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients__link:hover {
  border: 1px solid #2196f3;
}
.clients__link:hover .clients__icon {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 738px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 165px;
  }
}
@keyframes drop-in {
  from {
    transform: rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
}
.footer__address {
  margin-top: 20px;
  animation: drop-in 2s;
}
@media (max-width: 738px) {
  .footer__address {
    text-align: center;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer__item {
  line-height: 171%;
  color: white;
}
.footer__link {
  line-height: 1.71;
  color: #757575;
  text-decoration: none;
}
.footer__link:hover {
  color: #2196f3;
}
.footer__convince {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 738px) {
  .footer__convince {
    text-align: center;
  }
}
.footer__icons {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}
.footer__social-item {
  border-radius: 100%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__social-item:hover {
  background-color: #2196f3;
}
.footer__social-link {
  display: flex;
}
.footer__subscribe {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  padding-bottom: 20px;
}
@media (max-width: 738px) {
  .footer__subscribe {
    text-align: center;
  }
}
.footer__input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  width: 358px;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 438px) {
  .footer__input {
    width: 450px;
  }
}
.footer__social-icon {
  height: 20px;
  width: 20px;
  fill: white;
}
.footer__icon {
  width: 24px;
  height: 24px;
  fill: white;
}
.footer__form {
  text-align: center;
  display: flex;
  gap: 12px;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.projects__filters-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-bottom: 34px;
}
.projects__filters-item {
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: background-color 2s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.projects__filters-item:hover {
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.projects__filters-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: var(--title);
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;
}
.projects__filters-link:hover {
  color: white;
}
.projects__filters-link--all {
  padding: 6px 25px;
}
.projects__list {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
  width: 1170px;
}
@media (max-width: 738px) {
  .projects__list {
    width: 738px;
  }
}
@media (max-width: 450px) {
  .projects__list {
    width: 450px;
  }
}
.projects__item {
  border: 1px solid #eee;
  transition: box-shadow 1s ease-in-out;
}
.projects__item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition: 0.3;
}
@media (max-width: 738px) {
  .projects__item {
    width: 354px;
    height: 440px;
  }
}
@media (max-width: 450px) {
  .projects__item {
    width: 450px;
    height: 404px;
  }
}
.projects__wrapper {
  position: relative;
  overflow: hidden;
}
.projects__wrapper:hover__overlay {
  bottom: 0;
}
.projects__overlay {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: #2196f3;
  transition: bottom 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  display: flex;
  justify-content: center;
  opacity: 0.9;
}
.projects__desc {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  padding: 63px 24px;
}
.projects__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  padding-left: 24px;
  padding-top: 20px;
}
.projects__type {
  font-size: 16px;
  line-height: 187%;
  color: #757575;
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 20px;
}