:root {
    --second: #989898;
    --third: #2196f3;
    --main: #2f303a;
}

.container {
    width: 1170px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header_list {
    display: flex;
    gap: 50px;
}

.header_inform_list {
    display: flex;
    gap: 50px;
}

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filters_list {
    display: flex;
    gap: 8px;
}

.projects_list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-color: var(--main);
}