:root {
    --second: #989898;
    --third: #2196f3;
    --main: #2f303a;
}

.hidden {
    display: none;
}

.container {
    width: 1170px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header_list {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header_inform_list {
    display: flex;
    gap: 50px;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

.pros {
    padding-top: 94px;
    padding-bottom: 94px;
}

pros_article::before {
    content: url(/images/index/timer.png);
}

.pros_list {
    display: flex;
    gap: 30px;
}

.doing {
    padding-bottom: 94px;
}

.doing_list {
    display: flex;
    gap: 30px;
}


.team {
    padding-bottom: 94px;
}

.team_list {
    display: flex;
    gap: 30px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

