:root {
    --text: #757575;
    --accent: #2196f3;
    --background-footer: #2f303a;
    --title: #212121;
    --button: #2196f3;
    --main: 'Roboto', sans-serif;
    --accent-text: 'Raleway', sans-serif;
}

body {
    font-family: var(--main);
    font-size: 14px;
}

.hidden {
    display: none;
}

.container {
    width: 1170px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header_container {
    display: flex;
    gap: 93px;
    align-items: center;
}

.header_list {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header_logo {
    font-weight: 700;
    font-size: 26px;
    color: var(--title);
    font-family: var(--accent-text);
    text-decoration: none;
}

.accent {
    color: var(--accent);
}

.header_link {
    font-weight: 500;
    color: var(--title);
    text-decoration: none;
}

.header_link:hover {
    color: var(--accent);
    transition: 0.3s;
}

.header_inform_list {
    display: flex;
    gap: 50px;
    margin-left: 250px;
}

.header_inform_link {
    font-weight: 500;
    color: var(--text);
    text-decoration: none;
}

.header_inform_link:hover {
    color: var(--accent);
    transition: 0.3s;
}




.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(/images/index/background.png);
    text-align: center;
    background-color: rgba(47, 48, 58, 0.4);
}

.hero_title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-transform: uppercase;
    color: white;
    width: 696px;
    margin: auto;
}

.hero_button {
    border-radius: 4px;
    padding: 10px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--button);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    margin-top: 30px;
    cursor: pointer;
}

.pros {
    padding-top: 94px;
    padding-bottom: 94px;
}

.pros_subtitle {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--title);
}

.pros_desc {
    line-height: 171%;
    color: var(--text);
    padding-top: 10px;
}

.pros_list {
    display: flex;
    gap: 30px;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.before_satellite::before {
    content: url(/images/index/satellite.png);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: block;
    margin-bottom: 30px;
}

.before_timer::before {
    content: url(/images/index/timer.jpg);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: block;
    margin-bottom: 30px;
}

.before_analytic::before {
    content: url(/images/index/analytic.png);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: block;
    margin-bottom: 30px;
}

.before_austranaut::before {
    content: url(/images/index/austranaut.png);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: block;
    margin-bottom: 30px;
}

.doing {
    padding-bottom: 94px;
}

.doing_title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.doing_item {
    position: relative;
}

.doing_overlay {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.doing_text {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}

.doing_list {
    display: flex;
    gap: 30px;
    padding-top: 50px;
}


.team {
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team_title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
}

.team_pic {
    width: 270px;
    height: 260px;
}

.team_list {
    display: flex;
    gap: 30px;
}

.team_name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--title);
    padding-top: 30px;
}

.team_employee {
    font-size: 16px;
    text-align: center;
    color: #757575;
    padding-top: 10px;
}

.team_article {
    height: 428px;
    background-color: white;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-sm-list {
    display: flex;
    padding-top: 16px;
    justify-content: space-around;
}



.team-svg {
    width: 24px;
    height: 24px;
    fill: #AFB1B8;
}

.team-svg:hover {
    fill: white;
    border: 1px solid var(--accent);
    background-color: #2196f3;
    border-radius: 100%;
    
}

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-svg {
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
    padding: 16px 32px;
    border-radius: 4px;

}

.clients-svg:hover {
    fill: var(--accent);
    border: 1px solid var(--accent);
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title);
    padding-bottom: 50px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-footer);
}

.footer_logo_link {
    font-weight: 700;
    font-size: 26px;
    color: white;
    font-family: var(--accent-text);
    text-decoration: none;
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;
}

.footer_item {
    line-height: 171%;
    color: #fff;
}

.footer_link {
    line-height: 171%;
    color: #757575;
    text-decoration: none;
}