:root {
    --text: #989898;
    --accent: #2196f3;
    --background-footer: #2f303a;
    --title: #212121;
    --button: #2196f3;
}

.hidden {
    display: none;
}

.container {
    width: 1170px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header_list {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header_inform_list {
    display: flex;
    gap: 50px;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background:url(/images/index/background.png);
    
}

.pros {
    padding-top: 94px;
    padding-bottom: 94px;
}



.pros_list {
    display: flex;
    gap: 30px;
}

.before_satellite::before {
    content: url(/images/index/satellite.png);
}

.before_timer::before {
    content: url(/images/index/timer.jpg);
}

.before_analytic::before {
    content: url(/images/index/analytic.png);
}

.before_austranaut::before {
    content: url(/images/index/austranaut.png);
}

.doing {
    padding-bottom: 94px;
}

.doing_list {
    display: flex;
    gap: 30px;
}


.team {
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team_list {
    display: flex;
    gap: 30px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--main);
}

