@import './utils/variables';
// @import'./utils/mixin';
@import './utils/placeholder';
@import './base/reset';
@import './base/common';
@import './components/header';
@import './components/main/hero';
@import './components/main/modal';
@import './components/main/pros';
@import './components/main/doing';
@import './components/main/team';
@import './components/main/clients';
@import './components/footer';
@import './components/portfolio/projects'