:root {
    --black: #000;
    --light-grey: #989898;
    --royal-blue: #2196f3;
    --navy: #2f303a;
}

.header_container {
    display: flex;
    padding: 25px 0;
}

.container {
    width: 1170px;
    margin: 0px auto;
}

body, h1, h2, h3, p, ul {
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

.header_list {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: 93px;

}

.header_inform_list {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: 300px;

}

.header_link {
    text-decoration: none;
    color: var(--black);
}

.header_inform_link {
    color: var(--light-grey);
    text-decoration: none;
}

.header_inform_link:hover {
    color: var(--royal-blue);
}

.header_link:hover {
    color: var(--royal-blue);
}

.hero_section {
    background-color: var(--navy);
    height: 600px;
}

.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1 {
    color: white;
    font-size: 44px;
    width: 642px;
}

.hero_button {
    
    background-color: var(--royal-blue);
    border: none;
    width: 216px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: white;
    font-size: 16px;

}

.section_one {
    display: flex;
    margin-top: 94px;
    justify-content: center;
    gap: 30px;
}

.section_one_list {
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: space-between;
}



.section_one_article_h4 {
    font-size: 17px;
}

.section_one_article_p {
    font-size: 14px;
    color: var(--light-grey);
    padding-top: 10px;
    line-height: 171%;
}

.section_two {
    margin-top: 94px;
    padding-bottom: 94px;
}

.section_two_list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.section_two_h2 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 29px;
}

.section_three_article_pic {
    width: 270px;
    height: 260px;
}

.section_three {
    background-color: #f5f4fa;
    padding-bottom: 94px;
}

.section_three_list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.section_three_article {
    background-color: white;
    margin-top: 50px;
    height: 368px;
}

.section_three_article_h3 {
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
}

.section_three_article_p {
    text-align: center;
    font-size: 16px;
    color: var(--light-grey);
    padding-top: 10px;
}

.section_three_h2 {
    text-align: center;
    font-size: 36px;
    padding-top: 94px;
}

footer {
    background-color: var(--navy);
    height: 252px;
    
    
}

.footer_div {
    padding-top: 60px;
}

.footer_div_p {
    color: #fff;
    padding-top: 20px;
}

span {
    padding-top: 9px;
}

.footer_link {
    color: var(--light-grey);
    text-decoration: none;
    
}

.footer_item {
    padding-top: 9px;
}