.projects {
  padding-top: 94px;
  padding-bottom: 94px;

  &__filters-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-bottom: 34px;
  }

  &__filters-item {
    background-color: $background_filter-color;
    border-radius: 4px;
    transition: background-color 2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      box-shadow 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      background-color: $button-color;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
        0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__filters-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: var(--title);
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 6px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 6px;

    &:hover {
      color: white;
    }
  }

  &__list {
    display: flex;
    gap: 27px;
    flex-wrap: wrap;
    width: 1170px;
    @media (max-width:738px) {
      width: 738px;
    }
    @media (max-width:450px) {
      width: 450px;
    }
  }

  &__item {
    border: 1px solid #eee;
    transition: box-shadow 1s ease-in-out;

    &:hover {
      box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
        0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      transition: 0.3;
    }
    @media (max-width:738px) {
      width: 354px;
      height: 440px;
    }

    @media (max-width:450px) {
      width: 450px;
      height: 404px;
    }
  }

  &__wrapper {
    position: relative;
    overflow: hidden;

  &:hover {
    &__overlay {
      bottom: 0;
    }
  }
  
}

  &__overlay {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: $accent-color;
    transition: bottom 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    display: flex;
    justify-content: center;
    opacity: 0.9;

    
  }

  &__desc {  
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: rgb(255, 255, 255);
    padding: 63px 24px;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: $title-color;
    padding-left: 24px;
    padding-top: 20px;
  }

  &__type {
    font-size: 16px;
    line-height: 187%;
    color: $text-color;
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 20px;
  }
}
