    $text-color: #757575;
    $accent-color: #2196f3;
    $footer-color: #2f303a;
    $title-color: #212121;
    $button-color: #2196f3;
    $main-font: 'Roboto', sans-serif;
    $accent-font: 'Raleway', sans-serif;
    $background_filter-color: #f5f4fa;