    $text-color: #757575;
    $accent-color: #2196f3;
    $footer-color: #2f303a;
    $title-color: #212121;
    $button-color: #2196f3;
    $main-font: 'Roboto', sans-serif;
    $accent-font: 'Raleway', sans-serif;
    $background_filter-color: #f5f4fa;
    $second_accent-color: white;
    $icon-accent:rgba(255, 255, 255, 0.1);
    $input-border: rgba(21, 21, 21, 0.2);
    $footer-input: rgba(255, 255, 255, 0.3);