.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-color;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__logo {
    font-weight: 700;
    font-size: 26px;
    color: white;
    font-family: $accent-font;
    text-decoration: none;

    &-accent {
      color: $accent-color;
    }
  }

  &__address {
    margin-top: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__item {
    line-height: 171%;
    color: white;
  }

  &__link {
    line-height: 171%;
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $accent-color;
    }
  }
}

