.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-color;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 738px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 165px;
    }
  }

 

  @keyframes drop-in {
    from {
      transform: rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform: rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }

  &__address {
    margin-top: 20px;
    animation: drop-in 2s;
    @media (max-width: 738px) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__item {
    line-height: 171%;
    color: white;
  }

  &__link {
    line-height: 1.71;
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $accent-color;
    }
  }

  &__convince {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    @media (max-width: 738px) {
      text-align: center;
    }
  }

  &__icons {
    display: flex;
    gap: 10px;
    padding-top: 20px;
   
    
  }

  &__social-icon {
    height: 20px;
    width: 20px;

    fill: white;
  }

  &__social-item {
    border-radius: 100%;
    padding: 12px;
    background-color: $icon-accent;
    
    &:hover {
      background-color: $button-color;
    }
  }

  &__social-link {
    display: flex;
  }

  &__subscribe {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    padding-bottom: 20px;
    @media (max-width: 738px) {
      text-align: center;
    }
  }

  &__input {
    background-color: transparent;
    border: 1px solid $footer-input;
    padding:15px;
    width: 358px;
    outline: none;
    color: $footer-input;
    @media (max-width: 438px) {
      width: 450px;
    }
  }

  
  &__social-icon {
    height: 24px;
    width: 24px;
  }

  &__form {
    text-align: center;
    display: flex;
    gap: 12px;
  }
}
