.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-color;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width:738px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 165px;
    }
  }

  &__logo {
    font-weight: 700;
    font-size: 26px;
    color: white;
    font-family: $accent-font;
    text-decoration: none;
    letter-spacing: 0.03em;
    @media (max-width:738px) {
      text-align: center;
      font-size: 24px;
    }

    &-accent {
      color: $accent-color;
    }

    
  }

@keyframes drop-in {
    from {
      transform:
        rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }

  &__address {
    margin-top: 20px;
    animation: drop-in 2s;
    @media (max-width:738px) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__item {
    line-height: 171%;
    color: white;
  }

  &__link {
    line-height: 171%;
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $accent-color;
    }
  }

  &__convince {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    @media (max-width: 738px) {
      text-align: center;
    }
  }

  &__icons {
    display: flex;
    gap: 10px;
    padding-top: 20px;
  }

  &__social-icon {
    height: 20px;
    width: 20px;
    
    fill: white;
  }

  &__social-item {
    border-radius: 100%;
    padding: 12px;
    background-color: $icon-accent;

    &:hover {
      background-color: $button-color;
    }
  }

 
  

  &__label {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    padding-bottom: 20px;
    @media (max-width:738px) {
      text-align: center;
    }
  }

  &__input {
    background-color: transparent;
    border: 1px solid $footer-input;
    padding: 15px;
    width: 358px;
   @media (max-width:438px) {
    width: 450px;
   }
   
  }

  &__button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: $button-color;
    border: none;
    padding:10px 28px;
    color: white;
    height: 50px;
    @media (max-width:738px) {
      display: block;
      margin: auto;
      margin-top: 20px;
      
    }
    
  }

  

  &__social-icon {
    height: 24px;
    width: 24px;
    
  }
}

