.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;


  
  &__container {
    // @include flex-center(row, flex-start, center);
    gap: 93px;
    display: flex;
    align-items: center;
  }

  


  &__logo {
    font-weight: 700;
    font-size: 26px;
    color: $title-color;
    font-family: $accent-font;
    text-decoration: none;
    letter-spacing: 0.03em;
    @media (max-width:738px) {
      font-size: 24px;
    }
  }

  &__logo-accent {
    color: $accent-color;
    animation: drop-in 2s;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  @keyframes drop-in {
    from {
      transform:
        rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }

  &__menu-link {
    font-weight: 500;
    color: $title-color;
    text-decoration: none;
    position: relative;
    display: block;
    letter-spacing: 0.02em;

    &:hover {
      color: $accent-color;
      transition: 0.3s;
    }

    &::after {
      content: "";
      width: 100%;
      height: 4px;
      display: inline-block;
      background-color: $accent-color;
      position: absolute;
      left: 0px;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: bottom;
      transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1),
        background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      top: 40px;
    }

    &:hover::after {
      transform: scaleX(1);
      background-color: $accent-color;
    }
  }

  &__input {
    display: none;
  }
  @media(max-width: 450px ) {
&__label {
    display: block;
    height: 30px;
    width: 30px;
    margin-left: auto;
      position: relative; }

&__label &__btn {
    top: 10px;
}

&__label &__btn::before {
top: -8px;

}

&__label &__btn::after {
    top: 8px
}

&__label &__btn,
  &__label &__btn::before,
  &__label &__btn::after {
    position: absolute;
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    
}


&__menu  {
    display: none;
}

&__input[type="checkbox"]:checked ~ &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.nav-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(101, 143, 143);
}

input[type="checkbox"]:checked ~ label span {
    transform: rotate(-45deg);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}


input[type="checkbox"]:checked ~ label span::before {
    top: 0;
    transform: rotate(0);
}

input[type="checkbox"]:checked ~ label span::after {
    top: 0;
    transform: rotate(90deg);
}
  }

  &__contacts {
    display: flex;
    gap: 30px;
    align-items: center;
    @media (max-width:738px) {
      flex-direction: column;
    }
  }

  &__contacts-link {
    font-weight: 500;
    color: $text-color;
    text-decoration: none;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    @media (max-width:738px) {
      font-size: 12px;
    }

    &:hover  { 
      .header__contacts-icon {
        fill: $accent-color;

      }
      color: $accent-color;
      transition: 0.3s;
    }
  }
 &__contacts-icon {
  fill: $text-color;
  margin-right: 10px;
 }
}