.header {
  padding-top: 24px;
  padding-bottom: 25px;


  
  &__container {
    // @include flex-center(row, flex-start, center);
    gap: 93px;
    display: flex;
    align-items: center;
  }

  


  &__logo {
    font-weight: 700;
    font-size: 26px;
    color: $title-color;
    font-family: $accent-font;
    text-decoration: none;
  }

  &__logo-accent {
    color: $accent-color;
    animation: drop-in 2s;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  @keyframes drop-in {
    from {
      transform:
        rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }

  &__menu-link {
    font-weight: 500;
    color: $title-color;
    text-decoration: none;
    position: relative;
    display: block;
    letter-spacing: 0.02em;

    &:hover {
      color: $accent-color;
      transition: 0.3s;
    }

    &::after {
      content: "";
      width: 100%;
      height: 4px;
      display: inline-block;
      background-color: $accent-color;
      position: absolute;
      left: 0px;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: bottom;
      transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1),
        background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      top: 40px;
    }

    &:hover::after {
      transform: scaleX(1);
      background-color: $accent-color;
    }
  }

  &__contacts {
    display: flex;
    gap: 50px;
  }

  &__contacts-link {
    font-weight: 500;
    color: $text-color;
    text-decoration: none;
    letter-spacing: 0.02em;

    &:hover {
      color: $accent-color;
      transition: 0.3s;
    }

    
  }

}
