.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/index/background.png");
  text-align: center;
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_title {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-transform: uppercase;
  color: white;
  width: 696px;
  margin: auto;
}

.hero_button {
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--button);
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  margin-top: 30px;
  cursor: pointer;
}