.logo{
    font-weight: 700;
    font-size: 26px;
    color: $title-color;
    font-family: $accent-font;
    text-decoration: none;
    letter-spacing: 0.03em;
    @media (max-width: 738px) {
      font-size: 24px;
    }



    &--accent {
        color: $accent-color;
    animation: drop-in 2s;
    }

    &--color {
        color: white;
    }
}

