.pros {
  padding-top: 94px;
  padding-bottom: 94px;
}

.pros_subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--title);
}

.pros_desc {
  line-height: 171%;
  color: var(--text);
  padding-top: 10px;
}

.pros_list {
  display: flex;
  gap: 30px;
}

.before_satellite::before {
  content: url("../images/index/satellite.png");
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
}

.before_timer::before {
  content: url("../images/index/timer.jpg");
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
}

.before_analytic::before {
  content: url("../images/index/analytic.png");
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
}

.before_austranaut::before {
  content: url("../images/index/austranaut.png");
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
}