.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;
    padding-bottom: 50px;
    @media (max-width: 738px) {
      font-size: 28px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    @media (max-width:738px) {
      flex-wrap: wrap;
    }
    @media (max-width:450px) {
        flex-wrap: wrap;
      }
  }

  &__item {
    list-style: none;
      @media (max-width: 738px) {
      width: calc(33.333% - 20px);
      display: flex;
      
    }
    @media (max-width:450px) {
      width: calc(50% - 15px);
      
    }
  }

  &__icon {
    border: 1px solid #afb1b8;
    fill: #afb1b8;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border-radius: 4px;
    transition: fill 1s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      border 0.6s ease, transform 2s ease;

    &:hover {
      fill: $accent-color;
      border: 1px solid $accent-color;
      transform: scale(1);
    }
    @media (max-width:738px) {
      width: 226px;
    }
    @media (max-width:450px) {
      width: 210px;
    }
  }
}
