.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;
    padding-bottom: 50px;
    @media (max-width: 738px) {
      font-size: 28px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    @media (max-width:738px) {
      flex-wrap: wrap;
    }
    @media (max-width:450px) {
        flex-wrap: wrap;
      }
  }

  &__item {
    list-style: none;
      @media (max-width: 738px) {
      width: calc(33.333% - 20px);
      display: flex;
      
    }
    @media (max-width:450px) {
      width: calc(50% - 15px);
      
    }
  }

  &__icon {
    fill: #afb1b8;
    width: 106px;
    height: 60px;
    &:hover {
      fill: $accent-color;
      
      transform: scale(1);
      

    }
    @media (max-width:738px) {
      width: 226px;
    }
    @media (max-width:450px) {
      width: 210px;
    }
  }

  &__link {
    padding: 16px 32px;
     border: 1px solid #afb1b8;
      border-radius: 4px;
      
  }
}
