.clients {
  padding-top: 94px;
  padding-bottom: 94px;

 

  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    @media (max-width:738px) {
      flex-wrap: wrap;
    }
    @media (max-width:450px) {
        flex-wrap: wrap;
      }
  }

  &__item {
    list-style: none;
      @media (max-width: 738px) {
      width: calc(33.333% - 20px);
      display: flex;
      
    }
    @media (max-width:450px) {
      width: calc(50% - 15px);
      
    }
  }

  &__icon {
    fill: #afb1b8;
    width: 106px;
    height: 60px;
    
    @media (max-width:738px) {
      width: 226px;
    }
    @media (max-width:450px) {
      width: 210px;
    }
  }

  &__link {
    padding: 16px 32px;
     border: 1px solid #afb1b8;
      border-radius: 4px;
      &:hover {
        border:1px solid $accent-color;
        .clients__icon {
          fill: $accent-color;
        }
      }
  }
}
