.doing {
  padding-bottom: 94px;
  @media (max-width:738px) {
    display: none;
  }

  

  &__image {
    display: block;
  }

  &__list {
    display: flex;
    gap: 30px;
   
    justify-content: center;
  }

  &__item {
    position: relative;
  }

 .doing__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  
}


  &__text {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;

  }
}