.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/index/background-desctop@1x.png);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/background-desctop@1x.png);
    @media (min-device-pixel-ratio:2), (min-resolution:192dpi), (min-resolution:2dppx){
    background-image: url(../images/index/background-desctop@2x.png);
    }
    @media screen and (max-width:738px) {
    background-image: url(../images/index/background-tablet@1x.png);
  
  @media(min-device-pixel-ratio:2), (min-resolution:192dpi), (min-resolution:2dppx){
    background-image: url(../images/index/background-tablet@2x.png);
  }}
   @media screen and (max-width:450px) {
    background-image: url(../img/hero/background-phone@1x.png);
  
  @media(min-device-pixel-ratio:2), (min-resolution:192dpi), (min-resolution:2dppx){
    background-image: url(../img/hero/background-phone@2x.png);
  }}

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.06em;
    text-align: center;
    animation: drop-in 1s;
    margin-bottom: 30px;
    @media (max-width:738px) {
      font-size: 26px;
    }

  }

  @keyframes drop-in {
    from {
      transform: rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform: rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }

}


