.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/index/background.png");
    @media(min-device-pixel-ratio:2), (min-resolution:192dpi), (min-resolution:2dppx){
    background-image: url(../images/index/background-desctop@2x.png);
  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.06em;
    text-align: center;
    animation: drop-in 1s;
    @media (max-width:738px) {
      font-size: 26px;
    }
  }

  @keyframes drop-in {
    from {
      transform: rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform: rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }

  &__button {
    border-radius: 4px;
    padding: 10px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: $button-color;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    margin-top: 30px;
    cursor: pointer;
    animation: slide-in 1s;
    font-family: $main-font;
    letter-spacing: 0.06em;
    @media (max-width:738px) {
      padding: 10px 24px;
    }
  }
}
