.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  @media (max-width:738px) {
    min-width: 450px;
    min-height: 609px;
  }


  &__close {
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    display: flex;
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 8px;
    

    &:hover {
      fill: $button-color;
    }
  }

  &__close-icon {
    width: 11px;
    height: 11px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;
    padding-bottom: 12px;
    @media(max-width:738px) {
      line-height: 1.5;
             
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $text-color;
    padding-bottom: 4px;
    padding-top: 12px;
    display: block;
  }

  &__input {
    width: 448px;
    height: 48px;
    border: 1px solid $input-border;
    border-radius: 4px;
    outline: none;
    padding-left: 42px;

    &:hover+.modal__icon {
    fill: $button-color;
    }

    &:hover {
    border: 1px solid $button-color;
  }

  &:focus+.modal__icon {
    fill: $button-color;
    }

    &:focus {
    border: 1px solid $button-color;
  }
}

  &__wrapper {
  position: relative;
  
  }

  &__icon {
    width: 18px;
    height: 18px;
    position: absolute;
   left: 12px;
   bottom: 14px;
   
  }

  &__textarea {
    border: 1px solid $input-border;
    border-radius: 4px;
    width: 448px;
    height: 120px;
    margin: auto;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    padding-top: 12px;
    padding-left: 16px;
    resize: none;
    font-family: $main-font;
  }

  &__checkbox-wrapper {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 20px;
    align-items: center;
  }

  &__checkbox {
    border: 1px solid $title-color;
    accent-color: $button-color;
  }

  &__terms {
    color: $button-color;
    cursor: pointer;
    text-decoration: underline;
  }

  &__submit {
    background-color: $button-color;
    color: white;
    font-weight: 700;
    font-size: 16px;
    width: 200px;
    height: 50px;
    border: none;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
      cursor: pointer;
    }
  }

}
