.pros {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    @media (max-width:738px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width:450px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    @media (max-width: 738px) {
      width: calc((100% - 30px)/2);
      display: flex;
      flex-direction: column;
    }
    @media (max-width:450px) {
      width: calc(100%);
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 700;
    color: $title-color;
    @media (max-width:450px) {
      text-align: center;
    }

    &--satellite::before {
      content: '';
      background-image: url("../images/index/antenna.png");
      border-radius: 4px;
      width: 270px;
      height: 120px;
      display: block;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  $background_filter-color;
      @media (max-width:738px) {
        width: 354px;
        height: 120px;
      }
      @media (max-width:450px) {
        width: 450px;
        height: 120px;
      }
    }

    &--timer::before {
      content: '';
      background-image: url("../images/index/clock.png");
      border-radius: 4px;
      width: 270px;
      height: 120px;
      display: block;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  $background_filter-color;
      @media (max-width:738px) {
        width: 354px;
        height: 120px;
      }
      @media (max-width:450px) {
        width: 450px;
        height: 120px;
      }
    }

    &--analytic::before {
      content: '';
      background-image: url("../images/index/analytic.png");
      border-radius: 4px;
      width: 270px;
      height: 120px;
      display: block;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  $background_filter-color;
      @media (max-width:738px) {
        width: 354px;
        height: 120px;
      }
      @media (max-width:450px) {
        width: 450px;
        height: 120px;
      }
    }

    &--astronaut::before {
      content: '';
      background-image: url("../images/index/austranaut.png");
      border-radius: 4px;
      width: 270px;
      height: 120px;
      display: block;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  $background_filter-color;
      @media (max-width:738px) {
        width: 354px;
        height: 120px;
      }
      @media (max-width:450px) {
        width: 450px;
        height: 120px;
      }
    }
  }



  &__description {
    line-height: 171%;
    color: $text-color;
    padding-top: 10px;
    @media (max-width:738px) {
      width: 354px;
    }
    @media (max-width:450px) {
        // text-align: center;
        width: auto;
      }
  }
}
