.pros {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }



  &__subtitle {
    text-transform: uppercase;
    font-weight: 700;
    color: $title-color;

    &--satellite::before {
      content: '';
      background-image: url("../images/index/antenna.png");
      border-radius: 4px;
      width: 270px;
      height: 120px;
      display: block;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  $background_filter-color;
    }

    &--timer::before {
      content: '';
      background-image: url("../images/index/clock.png");
      border-radius: 4px;
      width: 270px;
      height: 120px;
      display: block;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  $background_filter-color;
    }

    &--analytic::before {
      content: '';
      background-image: url("../images/index/analytic.png");
      border-radius: 4px;
      width: 270px;
      height: 120px;
      display: block;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  $background_filter-color;
    }

    &--astronaut::before {
      content: '';
      background-image: url("../images/index/austranaut.png");
      border-radius: 4px;
      width: 270px;
      height: 120px;
      display: block;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  $background_filter-color;
    }
  }



  &__description {
    line-height: 171%;
    color: $text-color;
    padding-top: 10px;
  }
}
