.team {
  padding-bottom: 94px;
  background-color: #f5f4fa;
  padding-top: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
    @media (max-width: 738px) {
      font-size: 28px;
    }
  }

  &__item {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    @media (max-width: 738px) {
      flex-basis: calc((100% - 30px)/2);
      display: flex;
      justify-content: center;
    }
    @media (max-width: 450px) {
      width: calc(100%);
    }
  }

  &__photo {
    width: 270px;
    height: 260px;
    @media (max-width: 738px) {
      width: 354px;
      height: 374px;
    }
    @media (max-width: 450px) {
      width: 450px;
      height: 460px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
    @media (max-width: 738px) {
      flex-wrap: wrap;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: $title-color;
    padding-top: 30px;
  }

  &__role {
    font-size: 16px;
    text-align: center;
    color: #757575;
    padding-top: 10px;
  }

  &__card {
  }

  &__social-list {
    display: flex;
    padding-top: 16px;
    gap: 10px;
    justify-content: center;
    padding-bottom: 30px;
  }

  &__social-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;

    &:hover {
      background-color: $accent-color;
      transform: scaleX(1);
    }
  }

  &__social-icon {
    width: 24px;
    height: 24px;
    fill: #afb1b8;
    transition: fill 0.6s ease;

    &:hover {
      fill: white;
    }
  }
}
