.team {
  padding-bottom: 94px;
  background-color: #f5f4fa;
  padding-top: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
    @media (max-width:738px) {
      font-size: 28px;
    }
  }

  &__item {
     @media (max-width: 738px) {
      width: calc(50% - 15px);
      display: flex;
    }
    @media (max-width:450px) {
      width: calc(100%);
    }
  }

  &__photo {
    width: 270px;
    height: 260px;
    @media (max-width:738px) {
      width: 354px;
      height: 374px;
    }
    @media (max-width:450px) {
      width:450px;
      height:460px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
    @media (max-width:738px) {
      flex-wrap: wrap;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: $title-color;
    padding-top: 30px;
  }

  &__role {
    font-size: 16px;
    text-align: center;
    color: #757575;
    padding-top: 10px;
  }

  &__card {
    height: 428px;
     @extend %card;
     @media (max-width:378px) {
      height: 536px;
     }
     @media (max-width:450px) {
        height: 622px;
      }
  }

  &__social-list {
    display: flex;
    padding-top: 16px;
    gap: 10px;
    justify-content: center;
  }

  &__social-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;

    &:hover {
      background-color: $accent-color;
      transform: scaleX(1);
    }
  }

  &__social-icon {
    width: 24px;
    height: 24px;
    fill: #afb1b8;
    transition: fill 0.6s ease;

    &:hover {
      fill: white;
    }
  }
}

