body {
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.hidden {
  display: none;
}

.container {
  
  max-width: 1170px;
  min-width: 450px;
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;

}